table.form {
    background: white;
    color: black;
    border-spacing: 5px;
    padding: 5px;
}

table.main {
    height: 100%;
	width: 100%;
}

table.body {
	width: 100%;
	vertical-align: top;
	border: 1px solid #6699CC;
	border-collapse: separate;
	empty-cells: hide;
}


tr.head {
	height: 10%;
	text-align: center;
	background: url(/web/image/title.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}

tr.body {
	height: 90%;
	text-align: center;
	vertical-align: top;
}

tr.title {
	font-size: 12px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Rockwell';
    text-align: center;
    letter-spacing: 1px;
    color: white;
    background: #444444;
    background: -moz-radial-gradient(center, ellipse cover, #444444, #FF0000);
	background: -webkit-linear-gradient(top, #444444, #FF0000);
	background: -o-linear-gradient(top, #444444, #FF0000);
	background: -ms-linear-gradient(top, #444444, #FF0000);
}

tr.content {
    color: #3F3F3F;
    background: white;
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    font-family: 'Andalus';
    vertical-align: center;
    letter-spacing: 1px;
}

tr.content td {
	padding-left: 10px;
	padding-right: 10px;
	border-top: 1px solid #FF0000;
	border-bottom: 1px solid #FFFFFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 100% 0;
	background-repeat: no-repeat;
	-webkit-background-size: 1px 100%;
	-moz-background-size: 1px 100%;
	background-size: 1px 100%;
	background-image: -webkit-linear-gradient(top, #FF0000 0%, #FFFFFF 70%), -webkit-linear-gradient(top, #FF0000 0%, #FFFFFF 70%);
	background-image: -moz-linear-gradient(top, #FF0000 0%, #FFFFFF 70%), -moz-linear-gradient(top, #FF0000 0%, #FFFFFF 70%);
	background-image: -o-linear-gradient(top, #FF0000 0%, #FFFFFF 70%), -o-linear-gradient(top, #FF0000 0%, #FFFFFF 70%);
	background-image: linear-gradient(to bottom, #FF0000 0%, #FFFFFF 70%), linear-gradient(to bottom, #FF0000 0%, #FFFFFF 70%);
}

td.title {
	text-align: center;
	font-weight: 700;
	padding: 20px;
}

td.name {
	text-align: right;
	vertical-align: center;
	padding: 10px;
}

td.error {
	text-align: center;
	font-weight: 700;
	color: red;
}

input.agree {
	font-size: 15px;
	color: green;
	height: 30px;
	width: 100px;
}

input.cancel {
	font-size: 15px;
	color: blue;
	height: 30px;
	width: 100px;
}

a.add {
	position: fixed;
	bottom: 30px;
	width: 15%;
	opacity: 0.3;
	font-size: 12px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Cooper Black';
    text-align: center;
    letter-spacing: 1px;
    display: block;
	color: white;
	background: #00FF00;
    background: -moz-radial-gradient(center, ellipse cover, #00FF00, #008B00);
	background: -webkit-linear-gradient(top, #00FF00, #008B00);
	background: -o-linear-gradient(top, #00FF00, #008B00);
	background: -ms-linear-gradient(top, #00FF00, #008B00);
}

a.add:hover {
	opacity: 1;
}

input.action {
	background: #25A6E1;
	background: -moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background: -webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: -ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background: linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:8px 13px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:17px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9;
}

input.title {
	display: inline-block;
	width: 300px;
	margin: 0 10px 0 0;
	padding: 10px 25px;
	font-size: 18px;
	font-family: "Berlin Sans FB";
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
}

section.title input.title {
	color: #6496C8;
	background: rgba(0,0,0,0);
	border: solid 3px #6496C8;
}

section.title input.title:hover {
	border-color: #87CEEB;
	color: #87CEEB;
}

section.title input.title:active {
	border-color: #27496D;
	color: #27496D;
}